{% extends "base.html" %}

{% block content %}

{% if current_user.is_authenticated %}
<div class="main-container">
    <div class="container">
        <h2>Welcome, {{ current_user.first_name }}!</h2>
        <p>Find your perfect match today, just click below to customize your bio and select your preferences.</p>
        <a href="{{ url_for('profile') }}" class="get-started-btn">Complete Your Profile</a>
    </div>
</div>
{% else %}
<div class="main-container">
    <div class="container">
        <h2>Welcome to Soulmate!</h2>
        <p>Find your perfect match today.</p>
        <a href="{{ url_for('register') }}" class="get-started-btn">Get Started</a>
    </div>
</div>
{% endif %}

<div class="content-container">
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
</div>

{% endblock %}
