{% extends "base.html" %}

{% block content %}
<div class="main-container">
    <h2>Login</h2>
    <form method="POST" action="" class="login-form">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.email.label(class_='form-label') }}
            {{ form.email(class_='form-input', size=32) }}
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.password.label(class_='form-label') }}
            {{ form.password(class_='form-input', size=32) }}
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form-group form-remember-me">
            {{ form.remember_me(class_='form-checkbox') }}
            {{ form.remember_me.label(class_='form-checkbox-label') }}
        </div>
        <!-- Flash messages block -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="flash-messages">
            {% for message in messages %}
                <div class="alert alert-danger"><span style="color: red;">{{ message }}</span></div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
        <div class="form-group">
            {{ form.submit(class_="btn") }}
        </div>
    </form>
</div>
<div class="content-container">New User? <a href="{{ url_for('register') }}">Click to Register!</a></div>
{% endblock %}
